    <footer class="shadow p-3 mb-5 rounded bg-dark" style="width: 100%;">
            <p id="foo" class="border-bottom">Copyright © All rights reserved to Airlines.C.A</p>
            <div class="container text-center">

                <a href=""><img src="../assets/pngs/facebook-24.png" alt="facebook"></a>
                <a href=""><img src="../assets/pngs/google-plus-24.png" alt="google-plus"></a>
                <a href=""><img src="../assets/pngs/instagram-24.png" alt="instagram"></a>
                <a href=""><img src="../assets/pngs/pinterest-24.png" alt="pinterest"></a>
                <a href=""><img src="../assets/pngs/twitter-24.png" alt="twitter"></a>
                
            </div>
    </footer>