.mb-0 {
    color: #369 !important;
    font-family: Arial, Helvetica, sans-serif;
    }

    h2, h3{
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    }
    .title{
        text-align: center;
        margin-top: 1em;
    }
    .titles{
        text-align: right;
        margin-top: 0;
    }
    #float{
        float: left;
        margin-top: 1em;
    }
    body {
    margin: 2em;
    }
    body, input[type="text"], button {
    color: #888;
    font-family: Cambria, Georgia;
    }
    /* everywhere else */
    * {
    font-family: Arial, Helvetica, sans-serif;
    }
    #bottom{
        margin-bottom: 2em;
    }
    
  