  <h4 class="border-bot">
    <a class="nav-link" id="link" [routerLink]="['/compra-de-vuelos']">
      Visita nuestra galeria de Destinos.
      <sup style="font-size: smaller;"><img src="../assets/pngs/link-24.png" alt="."></sup>

    </a>
  </h4>
  <p class="h6 text-center" id="news"> Donde podras ver los distintos destinos que 
    ofrecemos. 
   </p>
   <p class="h6 text-center" id="dent"> ¿Que esperas para emprender el vuelo?</p>

<div class="container rounded shadow" id="alto">

    <div class="card shadow" id="card">
        <img src="../../assets/pics/Destinos/roma.jpg" class="card-img-top" height="150em" alt="Roma">
        <div class="card-body text-center">
          <h5 class="card-title border-bottom">Roma</h5>
          <p class="card-text">
          </p>
          <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#romaModalInfo">
            <img src="../../assets/pngs/aeroplano.png" width="30">
         </button>
        </div>
    </div>

    <div class="card shadow" id="card">
        <img src="../../assets/pics/Destinos/amsterdam.jpg" class="card-img-top" height="150em" alt="Amsterdam">
        <div class="card-body text-center">
          <h5 class="card-title border-bottom">Amsterdam</h5>
          <p class="card-text">
          </p>
          <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#amsterdamModalInfo">
            <img src="../../assets/pngs/aeroplano.png" width="30">
         </button>
        </div>
    </div>

    <div class="card shadow" id="card">
      <img src="../../assets/pics/Destinos/mumbai.jpg" class="card-img-top" height="150em" alt="Bombay">
      <div class="card-body text-center">
        <h5 class="card-title border-bottom">Bombay</h5>
        <p class="card-text">
        </p>
        <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#bombayModalInfo">
          <img src="../../assets/pngs/aeroplano.png" width="30">
       </button>
      </div>
    </div>
  
    <div class="modal fade" id="romaModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <img src="../../assets/pics/Destinos/roma.jpg" class="card-img-top" alt="Roma">
 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
 
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              Roma, Italia.</h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Debes probar nuestra pizza.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#r11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#r12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#r13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#r14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="r11" role="tabpanel">
              <br>
          
              <p class="text-justify">La capital de Italia, es una extensa ciudad cosmopolita que tiene a la vista casi 3,000 años de arte, arquitectura y cultura de influencia mundial.
                Población: 2,873 millones (2017) ISTAT, Tema del momento
                Fundación: 21 de abril de 753 a. C.
                Tiempo: 17 °C, viento del O a 18 km/h.</p>

                <p class="h5 text-center">
                  Precio del boleto: {{precio}}
                </p>
          
            </div>

            <div class="tab-pane fade" id="r12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                     <h4 style="text-align: center;">Hoteles Recomendados</h4>
                    <ul style="list-style: none;"  class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                        Algun hotel
                        <span class="badge badge-info badge-pill">
                          <a class="text-white" href="#">Visitar su Website</a>
                        </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                        Algun hotel
                        <span class="badge badge-info badge-pill">
                          <a class="text-white" href="#">Visitar su Website</a>
                        </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                        Algun hotel
                        <span class="badge badge-info badge-pill">
                          <a class="text-white" href="#">Visitar su Website</a>
                        </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                        Algun hotel
                        <span class="badge badge-info badge-pill">
                          <a class="text-white" href="#">Visitar su Website</a>
                        </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                        Algun hotel
                        <span class="badge badge-info badge-pill">
                          <a class="text-white" href="#">Visitar su Website</a>
                        </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                        Algun hotel
                        <span class="badge badge-info badge-pill">
                          <a class="text-white" href="#">Visitar su Website</a>
                        </span>
                      </li>
                      <li style="text-align:center;margin-top: 10px;">
                    </ul>
              
                </aside>           
            </div>

            <div class="tab-pane fade" id="r13" role="tabpanel">
              <br>
          
            
          
            </div>

            <div class="tab-pane fade" id="r14" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
            </div>

          </div>
        
        </div>
 
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
    </div>

    <div class="modal fade" id="bombayModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <img src="../../assets/pics/Destinos/mumbai.jpg" class="card-img-top" alt="Bombay">
 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
 
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              Bombay, India.</h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Debes probar nuestra pizza.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#bay11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#bay12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#bay13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#bay14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="bay11" role="tabpanel">
              <br>
          
              <p class="text-justify">Bombay es una ciudad densamente poblada en la costa oeste de la India. Es un centro financiero y la ciudad más grande de la India. En la costa del puerto de Bombay, se encuentra el icónico arco de piedra de la Puerta de la India, construido por el Raj Británico en 1924.
                Idioma oficial‎: ‎maratí.</p>
                <p class="h5 text-center">
                  Precio del boleto: {{precio}}
                </p>
          
            </div>

            <div class="tab-pane fade" id="bay12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Hoteles Recomendados</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside>           
            </div>

            <div class="tab-pane fade" id="bay13" role="tabpanel">
              <br>
          
            
          
            </div>

            <div class="tab-pane fade" id="bay14" role="tabpanel">
              <br>

                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
              
            </div>

          </div>
        
        </div>
 
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
    </div>

    <div class="modal fade" id="amsterdamModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <img src="../../assets/pics/Destinos/amsterdam.jpg" class="card-img-top" alt="Amsterdam">
 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
 
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              Amsterdam, Paises Bajos.</h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Debes probar nuestra pizza.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#ams11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#ams12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#ams13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#ams14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="ams11" role="tabpanel">
              <br>
          
              <p class="text-justify">Es la capital oficial de los Países Bajos. La ciudad está situada entre la bahía del IJ al norte y a las orillas del río Amstel al sureste.
                Código postal: 1000–1098 y 1100–1109
                Clima: Oceánico Cfb
                Tiempo: 13 °C, viento del SO a 32 km/h.</p>

                <p class="h5 text-center">
                  Precio del boleto: {{precio}}
                </p>
          
            </div>

            <div class="tab-pane fade" id="ams12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Hoteles Recomendados</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside>          
            </div>

            <div class="tab-pane fade" id="ams13" role="tabpanel">
              <br>
          
            
          
            </div>

            <div class="tab-pane fade" id="ams14" role="tabpanel">
              <br>
          
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()">Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
          
            </div>

          </div>
        
        </div>
 
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
    </div>

  </div>
