#card{
    margin: 2em 1em;
    float: left;
    width: 16.7em;
    height: 20em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#card:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6) !important;
}
h5{
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h4{
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
.border-bot{
    margin-bottom: 0.5em;
    text-indent: 3em;
    border-bottom: 1px solid #dee2e6
}
#alto{
    height: 25em;
    margin-bottom: 1em;
}
.btn-circle.btn-md{
    width: 5em;
    height: 5em;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    background-color: #007bff;
}
.btn-circle.btn-md:hover{
    background-color: #00aeff;
}
#cerrar:hover{
    color: #fff;
}
#li1{
    background-color: #eee;
}
#li1:hover{
    background-color: #fff;
}
#news{
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
}
#dent{
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
}