
<div class="col-xs-12">
  <div class="bd-example shadow p-3 mb-5 rounded" style="margin-top:15px;background:white;margin-bottom: 20px;">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/pics/avion.jpg" class="d-block w-100 img-fluid z-depth-2 rounded" alt="...">
        <div class="carousel-caption d-none d-md-block">
        <h5 class="shaw">Vuela con nosotros</h5>
        <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/pics/servicio.jpg" class="d-block w-100" alt="Servicio">
        <div class="carousel-caption d-none d-md-block">
        <h5>Con la mejor atencion a bordo</h5>
        <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/pics/pilotos.jpeg" class="d-block w-100" alt="Pilotos">
        <div class="carousel-caption d-none d-md-block">
        <h5>Y con los pilotos de mayor confianza en el negocio.</h5>
        <p></p>
        </div>
      </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previo</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
      </a>
    </div>
    </div>
</div>