<div class="shadow p-3 mb-5 bg-white rounded" style="margin-top: 2em;">

  <h1 class="title" class="border-bottom text-center" > Destinos Turísticos</h1>

    <form class="form-inline md-form mr-auto mb-4" style="margin-left: 17%;">

      <div class="form-group">
        <label for="inputpais">País</label>
        <select id="inputpais" class="form-control">
          <option selected>Elija...</option> 
        </select>
      </div>
      <div class="form-group">
        <label for="inputCiudad">Ciudad</label>
        <select id="inputCiudad" class="form-control">
          <option selected>Elija...</option>
        </select>
      </div>
      <div class="margin">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar Destino" aria-label="Search">
        <button class="btn btn-outline-primary btn-rounded btn-sm my-0" type="submit">
          <img src="../../assets/pngs/search-13-24-1.png" width="20px" alt="Lupa">
        </button>
      </div>
    </form>

<div class="shadow p-3 mb-5 bg-white rounded" style="float: left;padding: 2em;border: 1px solid #dee2e6;">
  
    <div class="cards">         
        <div class="col-md-3" id="float">
  <div class="card" id="c1">      
    <img src="../../assets/pics/Destinos/paris.jpg" class="card-img-top" height="100em" alt="París">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title border-bottom">París</h5>
      <p class="card-text">				
      </p>
      <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#parisModalInfo">
        <img src="../../assets/pngs/aeroplano.png" width="30">
     </button>
    </div>
  </div>
        </div>
        <div class="col-md-3" id="float">
    <div class="card" id="c1">        
      <img src="../../assets/pics/Destinos/roma.jpg" class="card-img-top" height="100em" alt="Roma">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title border-bottom">Roma</h5>
        <p class="card-text">				
        </p>
        <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#romaModalInfo">
          <img src="../../assets/pngs/aeroplano.png" width="30">
        </button>
      </div>
    </div>
        </div>
        <div class="col-md-3" id="float">
<div class="card" id="c1">  
  <img src="../../assets/pics/Destinos/lima.jpg" class="card-img-top" height="100em" alt="Lima">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title border-bottom">Lima</h5>
    <p class="card-text">				
    </p>
    <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#limaModalInfo">
      <img src="../../assets/pngs/aeroplano.png" width="30">
   </button>
  </div>
</div>
        </div>
        <div class="col-md-3" id="float">
<div class="card" id="c1">  
  <img src="../../assets/pics/Destinos/newyork.jpg" class="card-img-top" height="100em" alt="New York">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title border-bottom">New York</h5>
    <p class="card-text">				
    </p>
    <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#newYorkModalInfo">
      <img src="../../assets/pngs/aeroplano.png" width="30">
   </button>
  </div>
</div>
        </div>
        <div class="col-md-3" id="float">
<div class="card" id="c1">  
  <img src="../../assets/pics/Destinos/santiago.jpg" class="card-img-top" height="100em" alt="Santiago">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title border-bottom">Santiago</h5>
    <p class="card-text">				
    </p>
    <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#santiagoModalInfo">
      <img src="../../assets/pngs/aeroplano.png" width="30">
   </button>
  </div>
</div>
        </div>
        <div class="col-md-3" id="float">
<div class="card" id="c1">  
  <img src="../../assets/pics/Destinos/madrid.jpg" class="card-img-top" height="100em" alt="Madrid">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title border-bottom">Madrid</h5>
    <p class="card-text">				
    </p>
    <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#madridModalInfo">
      <img src="../../assets/pngs/aeroplano.png" width="30">
   </button>
  </div>
</div>
        </div>
        <div class="col-md-3" id="float">
<div class="card" id="c1">  
  <img src="../../assets/pics/Destinos/medellin.jpg" class="card-img-top" height="100em" alt="Medellín">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title border-bottom">Medellín</h5>
    <p class="card-text">			
    </p>
    <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#medellinModalInfo">
      <img src="../../assets/pngs/aeroplano.png" width="30">
   </button>
  </div>
</div>
        </div>
        <div class="col-md-3" id="float">
<div class="card" id="c1">  
  <img src="../../assets/pics/Destinos/tokyo.jpg" class="card-img-top" height="100em" alt="Tokyo">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title border-bottom">Tokyo</h5>
    <p class="card-text">				
    </p>
    <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#tokyoModalInfo">
      <img src="../../assets/pngs/aeroplano.png" width="30">
   </button>
  </div>
</div>
        </div>
        <div class="col-md-3" id="float">
<div class="card" id="c1">  
  <img src="../../assets/pics/Destinos/bogota.jpg" class="card-img-top" height="100em" alt="Bogotá">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title border-bottom">Bogotá</h5>
    <p class="card-text">			
    </p>
    <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#bogotaModalInfo">
      <img src="../../assets/pngs/aeroplano.png" width="30">
   </button>
  </div>
</div>
        </div>
        <div class="col-md-3" id="float">
<div class="card" id="c1">  
  <img src="../../assets/pics/Destinos/otawa.jpg" class="card-img-top" height="100em" alt="Otawa">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title border-bottom">Otawa</h5>
    <p class="card-text">				
    </p>
    <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#otawaModalInfo">
      <img src="../../assets/pngs/aeroplano.png" width="30">
   </button>
  </div>
</div>
        </div>
        <div class="col-md-3" id="float">
<div class="card" id="c1">  
  <img src="../../assets/pics/Destinos/merida.jpg" class="card-img-top" height="100em" alt="Mérida">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title border-bottom">Mérida</h5>
    <p class="card-text">			
    </p>
    <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#meridaModalInfo">
      <img src="../../assets/pngs/aeroplano.png" width="30">
   </button>
  </div>
</div>
        </div>
        <div class="col-md-3" id="float">
<div class="card" id="c1">  
  <img src="../../assets/pics/Destinos/caracas.jpg" class="card-img-top" height="100em" alt="Caracas">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title border-bottom">Caracas</h5>
    <p class="card-text">				
    </p>
    <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#caracasModalInfo">
      <img src="../../assets/pngs/aeroplano.png" width="30">
   </button>
  </div>
</div>
        </div>
    </div>

    <div name="modales">

        <div class="modal fade" id="parisModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-notify modal-info" role="document">
              <div class="modal-content">

                <div class="modal-header">
                  <img src="../../assets/pics/Destinos/paris.jpg" class="card-img-top" alt="París">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
                      <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

    
                <div class="modal-body">
      
                <blockquote class="blockquote text-center">
                  <h5 class="text-center">París, Francia.</h5>
                  <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Debes probar nuestra pizza.</footer>
                </blockquote>
      <ul class="nav md-pills pills-secondary border-bottom">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#panel11" role="tab">Descripción</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#panel12" role="tab">Hoteles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#panel13" role="tab">Gastronomía</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#panel14" role="tab">Vuelos</a>
        </li>
      </ul>
      
      <div class="tab-content pt-0">
      
        <div class="tab-pane fade in show active" id="panel11" role="tabpanel">
          <br>
      
          <p class="text-justify">París, la capital de Francia, es una importante ciudad europea y un centro mundial del arte, la
            moda, la gastronomía y la cultura. Su paisaje urbano del siglo XIX está entrecruzado por amplios
            bulevares y el río Sena. Aparte de estos hitos, como la Torre Eiffel y la catedral gótica de Notre
            Dame del siglo XII, la ciudad es famosa por su cultura del café y las tiendas de moda de
            diseñador a lo largo de la calle Rue du Faubourg Saint-Honoré.</p>
            <p class="h5 text-center">
              Precio del boleto: {{precio}}
            </p>
      
        </div>

        <div class="tab-pane fade" id="panel12" role="tabpanel">
          <br>
            <aside class="shadow bg-white rounded" style="width: 100%;">
            <h4 style="text-align: center;">Hoteles Recomendados</h4>
           <ul style="list-style: none;"  class="list-group">
             <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
               Algun hotel
               <span class="badge badge-info badge-pill">
                 <a class="text-white" href="#">Visitar su Website</a>
               </span>
             </li>
             <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
               Algun hotel
               <span class="badge badge-info badge-pill">
                 <a class="text-white" href="#">Visitar su Website</a>
               </span>
             </li>
             <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
               Algun hotel
               <span class="badge badge-info badge-pill">
                 <a class="text-white" href="#">Visitar su Website</a>
               </span>
             </li>
             <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
               Algun hotel
               <span class="badge badge-info badge-pill">
                 <a class="text-white" href="#">Visitar su Website</a>
               </span>
             </li>
             <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
               Algun hotel
               <span class="badge badge-info badge-pill">
                 <a class="text-white" href="#">Visitar su Website</a>
               </span>
             </li>
             <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
               Algun hotel
               <span class="badge badge-info badge-pill">
                 <a class="text-white" href="#">Visitar su Website</a>
               </span>
             </li>
             <li style="text-align:center;margin-top: 10px;">
           </ul>
     
            </aside>         
        </div>

        <div class="tab-pane fade" id="panel13" role="tabpanel">
          <br>
      
        
      
        </div>

        <div class="tab-pane fade" id="panel14" role="tabpanel">
          <br>
            <aside class="shadow bg-white rounded" style="width: 100%;">
            <h4 style="text-align: center;">Los mas proximos son:</h4>
           <ul style="list-style: none;"  class="list-group">
             <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
               Alguna fecha en la base de datos
               <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
             </li>
             <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
              Alguna fecha en la base de datos
              <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
             </li>
             <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
              Alguna fecha en la base de datos
              <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
             </li>
             <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
              Alguna fecha en la base de datos
              <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
             </li>
             <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
              Alguna fecha en la base de datos
              <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
             </li>
             <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
              Alguna fecha en la base de datos
              <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
             </li>
             <li style="text-align:center;margin-top: 10px;">
           </ul>
     
            </aside> 

        </div>

      </div>
    
    </div>

    
    <div class="modal-footer justify-content-center">
      <a type="button" class="btn btn-success" data-dismiss="modal" style="color: white;" (click)="alert()">Comprar Pasaje</a>
      <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
    </div>
  </div>
  
</div>
        </div>

        <div class="modal fade" id="romaModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <img src="../../assets/pics/Destinos/roma.jpg" class="card-img-top" alt="Roma">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        
        <blockquote class="blockquote text-center">
          <h5 class="text-center">
            Roma, Italia.</h5>
          <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Debes probar nuestra pizza.</footer>
        </blockquote>
        <ul class="nav md-pills pills-secondary border-bottom">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#r11" role="tab">Descripción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#r12" role="tab">Hoteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#r13" role="tab">Gastronomía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#r14" role="tab">Vuelos</a>
          </li>
        </ul>
        
        <div class="tab-content pt-0">
        
          <div class="tab-pane fade in show active" id="r11" role="tabpanel">
            <br>
        
            <p class="text-justify">La capital de Italia, es una extensa ciudad cosmopolita que tiene a la vista casi 3,000 años de arte, arquitectura y cultura de influencia mundial.
              Población: 2,873 millones (2017) ISTAT, Tema del momento
              Fundación: 21 de abril de 753 a. C.
              Tiempo: 17 °C, viento del O a 18 km/h.</p>
              <p class="h5 text-center">
                Precio del boleto: {{precio}}
              </p>
        
          </div>

          <div class="tab-pane fade" id="r12" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Hoteles Recomendados</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside>          
          </div>

          <div class="tab-pane fade" id="r13" role="tabpanel">
            <br>
        
          
        
          </div>

          <div class="tab-pane fade" id="r14" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Los mas proximos son:</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Alguna fecha en la base de datos
                 <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside> 
        
          </div>

        </div>
      
      </div>

      
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
        <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
      </div>
    </div>
    
  </div>
        </div>

        <div class="modal fade" id="limaModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <img src="../../assets/pics/Destinos/lima.jpg" class="card-img-top" alt="Lima">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      
      <div class="modal-body">
        
        <blockquote class="blockquote text-center">
          <h5 class="text-center">
            Lima, Perú.</h5>
          <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
        </blockquote>
        <ul class="nav md-pills pills-secondary border-bottom">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#l11" role="tab">Descripción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#l12" role="tab">Hoteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#l13" role="tab">Gastronomía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#l14" role="tab">Vuelos</a>
          </li>
        </ul>
        
        <div class="tab-content pt-0">
        
          <div class="tab-pane fade in show active" id="l11" role="tabpanel">
            <br>
        
            <p class="text-justify">Lima es la capital de Perú ubicada en la árida costa del Pacífico del país. Pese a que su centro
              colonial se conserva, es una desbordante metrópolis y una de las ciudades más grandes de
              Sudamérica. El Museo Larco alberga una colección de arte precolombino y el Museo de la Nación
              recorre la historia de las civilizaciones antiguas de Perú. La Plaza de Armas y la catedral del siglo
              XVI son el núcleo del antiguo centro de Lima.</p>
              <p class="h5 text-center">
                Precio del boleto: {{precio}}
              </p>
        
          </div>

          <div class="tab-pane fade" id="l12" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Hoteles Recomendados</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside>           
          </div>

          <div class="tab-pane fade" id="l13" role="tabpanel">
            <br>
        
          
        
          </div>

          <div class="tab-pane fade" id="l14" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Los mas proximos son:</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Alguna fecha en la base de datos
                 <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside> 
            
          </div>

        </div>
      
      </div>

      
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
        <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
      </div>
    </div>
    
  </div>
        </div>

        <div class="modal fade" id="newYorkModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <img src="../../assets/pics/Destinos/newyork.jpg" class="card-img-top" alt="New York">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      
      <div class="modal-body">
        
        <blockquote class="blockquote text-center">
          <h5 class="text-center">
            New Yok, United States.</h5>
          <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
        </blockquote>
        <ul class="nav md-pills pills-secondary border-bottom">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#ny11" role="tab">Descripción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ny12" role="tab">Hoteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ny13" role="tab">Gastronomía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ny14" role="tab">Vuelos</a>
          </li>
        </ul>
        
        <div class="tab-content pt-0">
        
          <div class="tab-pane fade in show active" id="ny11" role="tabpanel">
            <br>
        
            <p class="text-justify">Nueva York incluye 5 distritos que se ubican donde el río Hudson desemboca en el océano
              Atlántico. En su centro se encuentra Manhattan, un distrito densamente poblado que se encuentra
              entre los principales centros comerciales, financieros y culturales del mundo. Sus sitios icónicos
              incluyen rascacielos, como el Empire State Building, y el amplio Central Park. El teatro Broadway
              se ubica en la zona del Times Square iluminada con neones.
            </p>
            <p class="h5 text-center">
              Precio del boleto: {{precio}}
            </p>
        
          </div>

          <div class="tab-pane fade" id="ny12" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Hoteles Recomendados</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside>           
          </div>

          <div class="tab-pane fade" id="ny13" role="tabpanel">
            <br>
        
          
        
          </div>

          <div class="tab-pane fade" id="ny14" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Los mas proximos son:</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Alguna fecha en la base de datos
                 <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside> 
       
          </div>

        </div>
      
      </div>

      
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
        <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
      </div>
    </div>
    
  </div>
        </div>

        <div class="modal fade" id="santiagoModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <img src="../../assets/pics/Destinas/santiago.jpg" class="card-img-top" alt="Santiago">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      
      <div class="modal-body">
        
        <blockquote class="blockquote text-center">
          <h5 class="text-center">
            Santiago, Chile.</h5>
          <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
        </blockquote>
        <ul class="nav md-pills pills-secondary border-bottom">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#s11" role="tab">Descripción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#s12" role="tab">Hoteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#s13" role="tab">Gastronomía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#s14" role="tab">Vuelos</a>
          </li>
        </ul>
        
        <div class="tab-content pt-0">
        
          <div class="tab-pane fade in show active" id="s11" role="tabpanel">
            <br>
        
            <p class="text-justify">Santiago, la capital y la ciudad más grande de Chile, se ubica en un valle rodeado de cimas
              nevadas de los Andes y la Cordillera de la Costa chilena. La Plaza de Armas, el gran núcleo del
              centro colonial antiguo de la ciudad, tiene 2 monumentos neoclásicos: el Palacio de la Real
              Audiencia de 1808, donde está el Museo Histórico Nacional, y la Catedral Metropolitana del siglo
              XVIII. La Chascona es la casa transformada en museo del poeta Pablo Neruda.
            </p>
            <p class="h5 text-center">
              Precio del boleto: {{precio}}
            </p>
        
          </div>

          <div class="tab-pane fade" id="s12" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Hoteles Recomendados</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside>          
          </div>

          <div class="tab-pane fade" id="s13" role="tabpanel">
            <br>
        
          
        
          </div>

          <div class="tab-pane fade" id="s14" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Los mas proximos son:</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Alguna fecha en la base de datos
                 <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside> 

          </div>

        </div>
      
      </div>

      
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
        <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
      </div>
    </div>
    
  </div>
        </div>

        <div class="modal fade" id="madridModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <img src="../../assets/pics/Destinos/madrid.jpg" class="card-img-top" alt="Madrid">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      
      <div class="modal-body">
        
        <blockquote class="blockquote text-center">
          <h5 class="text-center">
            Madrid, España.</h5>
          <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
        </blockquote>
        <ul class="nav md-pills pills-secondary border-bottom">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#m11" role="tab">Descripción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#m12" role="tab">Hoteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#m13" role="tab">Gastronomía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#m14" role="tab">Vuelos</a>
          </li>
        </ul>
        
        <div class="tab-content pt-0">
        
          <div class="tab-pane fade in show active" id="m11" role="tabpanel">
            <br>
        
            <p class="text-justify">Madrid es la capital central de España con elegantes bulevares y amplios parques muy cuidados,
              como el Buen Retiro. Es famosa por sus ricas colecciones de arte europeo, con obras de Goya,
              Velázquez y otros maestros españoles en el Museo del Prado. El corazón del antiguo Madrid de
              los Habsburgo es la Plaza Mayor bordeada de pórticos y cerca se encuentra el Palacio Real y la
              Armería, que exhiben arsenales históricos.
            </p>
            <p class="h5 text-center">
              Precio del boleto: {{precio}}
            </p>
        
          </div>

          <div class="tab-pane fade" id="m12" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Hoteles Recomendados</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside>           
          </div>

          <div class="tab-pane fade" id="m13" role="tabpanel">
            <br>
        
          
        
          </div>

          <div class="tab-pane fade" id="m14" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Los mas proximos son:</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Alguna fecha en la base de datos
                 <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside> 
        
          </div>

        </div>
      
      </div>

      
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
        <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
      </div>
    </div>
    
  </div>
        </div>

        <div class="modal fade" id="medellinModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <img src="../../assets/pics/Destinos/medellin.jpg" class="card-img-top" alt="Medellín">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      
      <div class="modal-body">
        
        <blockquote class="blockquote text-center">
          <h5 class="text-center">
            Medellín, Colombia.</h5>
          <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
        </blockquote>
        <ul class="nav md-pills pills-secondary border-bottom">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#mll11" role="tab">Descripción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#mll12" role="tab">Hoteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#mll13" role="tab">Gastronomía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#mll14" role="tab">Vuelos</a>
          </li>
        </ul>
        
        <div class="tab-content pt-0">
        
          <div class="tab-pane fade in show active" id="mll11" role="tabpanel">
            <br>
        
            <p class="text-justify">Medellín es la capital de la provincia montañosa de Antioquia en Colombia. Es apodada la
              "Ciudad de la eterna primavera" por su clima templado y alberga la famosa Feria de las Flores
              anual. El moderno Metrocable conecta la ciudad con los barrios circundantes y tiene vistas del
              Valle de Aburrá que se encuentra debajo. Las esculturas de Fernando Botero decoran la Plaza
              Botero en el centro de la ciudad, mientras que el Museo de Antioquia exhibe más obras del artista
              colombiano.
            </p>
            <p class="h5 text-center">
              Precio del boleto: {{precio}}
            </p>
        
          </div>

          <div class="tab-pane fade" id="mll12" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Hoteles Recomendados</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside>          
          </div>

          <div class="tab-pane fade" id="mll13" role="tabpanel">
            <br>
        
          
        
          </div>

          <div class="tab-pane fade" id="mll14" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Los mas proximos son:</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Alguna fecha en la base de datos
                 <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside> 
       
          </div>

        </div>
      
      </div>

      
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
        <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
      </div>
    </div>
    
  </div>
        </div>

        <div class="modal fade" id="tokyoModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <img src="../../assets/pics/Destinos/tokyo.jpg" class="card-img-top" alt="Tokyo">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      
      <div class="modal-body">
        
        <blockquote class="blockquote text-center">
          <h5 class="text-center">
            Tokyo, Japon.
          </h5>
          <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
        </blockquote>
        <ul class="nav md-pills pills-secondary border-bottom">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#t11" role="tab">Descripción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#t12" role="tab">Hoteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#t13" role="tab">Gastronomía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#t14" role="tab">Vuelos</a>
          </li>
        </ul>
        
        <div class="tab-content pt-0">
        
          <div class="tab-pane fade in show active" id="t11" role="tabpanel">
            <br>
        
            <p class="text-justify">Tokio, un megacentro empresarial y cultural en el que viven decenas de millones de personas, es
              también la encrucijada donde los japoneses interactúan con ciudadanos de todo el mundo. A los
              medios les encanta centrarse en la vibrante moda de Harajuku, los restaurantes de robots, los
              maid cafes y los apasionados superfans, conocidos como otaku. Además de la vertiginosa
              innovación de la ciudad de Tokio, la metrópolis está igualmente dedicada a la conservación de la
              tradición con sus jardines, santuarios y templos históricos.
            </p>
            <p class="h5 text-center">
              Precio del boleto: {{precio}}
            </p>
        
          </div>

          <div class="tab-pane fade" id="t12" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Hoteles Recomendados</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside>           
          </div>

          <div class="tab-pane fade" id="t13" role="tabpanel">
            <br>
        
          
        
          </div>

          <div class="tab-pane fade" id="t14" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Los mas proximos son:</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Alguna fecha en la base de datos
                 <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside> 
        
          </div>

        </div>
      
      </div>

      
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
        <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
      </div>
    </div>
    
  </div>
        </div>

        <div class="modal fade" id="bogotaModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <img src="../../assets/pics/Destinos/bogota.jpg" class="card-img-top" alt="Bogotá">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      
      <div class="modal-body">
        
        <blockquote class="blockquote text-center">
          <h5 class="text-center">
            Bogotá, Colombia.
          </h5>
          <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
        </blockquote>
        <ul class="nav md-pills pills-secondary border-bottom">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#b11" role="tab">Descripción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#b12" role="tab">Hoteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#b13" role="tab">Gastronomía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#b14" role="tab">Vuelos</a>
          </li>
        </ul>
        
        <div class="tab-content pt-0">
        
          <div class="tab-pane fade in show active" id="b11" role="tabpanel">
            <br>
        
            <p class="text-justify">Bogotá es la extensa capital en altura de Colombia. La Candelaria, su centro con adoquines,
              cuenta con sitios coloniales como el Teatro Colón neoclásico y la Iglesia de San Francisco del
              siglo XVII. También alberga museos populares, incluido el Museo Botero, que exhibe arte de
              Fernando Botero, y el Museo del Oro, con piezas de oro precolombinas.
            </p>
            <p class="h5 text-center">
              Precio del boleto: {{precio}}
            </p>
        
          </div>

          <div class="tab-pane fade" id="b12" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Hoteles Recomendados</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside>          
          </div>

          <div class="tab-pane fade" id="b13" role="tabpanel">
            <br>
        
          
        
          </div>

          <div class="tab-pane fade" id="b14" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Los mas proximos son:</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Alguna fecha en la base de datos
                 <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside> 
       
          </div>

        </div>
      
      </div>

      
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
        <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
      </div>
    </div>
    
  </div>
        </div>

        <div class="modal fade" id="otawaModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <img src="../../assets/pics/Destinos/otawa.jpg" class="card-img-top" alt="Otawa">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      
      <div class="modal-body">
        
        <blockquote class="blockquote text-center">
          <h5 class="text-center">
            Otawa, Canada.
          </h5>
          <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
        </blockquote>
        <ul class="nav md-pills pills-secondary border-bottom">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#wa11" role="tab">Descripción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#wa12" role="tab">Hoteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#wa13" role="tab">Gastronomía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#wa14" role="tab">Vuelos</a>
          </li>
        </ul>
        
        <div class="tab-content pt-0">
        
          <div class="tab-pane fade in show active" id="wa11" role="tabpanel">
            <br>
        
            <p class="text-justify">Ottawa es la capital de Canadá, en la provincia de Ontario en el sureste, cerca de la ciudad de
              Montreal y la frontera con Estados Unidos. Ubicada en el río Ottawa, en su centro se ubica
              Parliament Hill, con una imponente arquitectura victoriana y museos, como la Galería Nacional de
              Canadá, con notables colecciones de arte indígena y otras obras de arte canadienses. El Canal
              Rideau rodeado de parques está lleno de botes en verano y de personas que practican patinaje
              sobre hielo en invierno.
            </p>
            <p class="h5 text-center">
              Precio del boleto: {{precio}}
            </p>
        
          </div>

          <div class="tab-pane fade" id="wa12" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Hoteles Recomendados</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside>        
          </div>

          <div class="tab-pane fade" id="wa13" role="tabpanel">
            <br>
        
          
        
          </div>

          <div class="tab-pane fade" id="wa14" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Los mas proximos son:</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Alguna fecha en la base de datos
                 <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside> 
        
          </div>

        </div>
      
      </div>

      
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
        <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
      </div>
    </div>
    
  </div>
        </div>

        <div class="modal fade" id="meridaModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <img src="../../assets/pics/Destinos/merida.jpg" class="card-img-top" alt="Merida">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      
      <div class="modal-body">
        
        <blockquote class="blockquote text-center">
          <h5 class="text-center">
            Mérida, Venezuela.
          </h5>
          <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
        </blockquote>
        <ul class="nav md-pills pills-secondary border-bottom">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#mrd11" role="tab">Descripción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#mrd12" role="tab">Hoteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#mrd13" role="tab">Gastronomía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#mrd14" role="tab">Vuelos</a>
          </li>
        </ul>
        
        <div class="tab-content pt-0">
        
          <div class="tab-pane fade in show active" id="mrd11" role="tabpanel">
            <br>
        
            <p class="text-justify">Mérida es una ciudad en la cordillera de los Andes en el noroeste de Venezuela. Es conocida por
              su arquitectura colonial española, sus parques y plazas, y por ser un centro para realizar
              actividades al aire libre en los parques nacionales cercanos Sierra Nevada y Sierra La Culata. Los
              visitantes internacionales y los numerosos estudiantes de la prestigiosa Universidad de Los
              Andes contribuyen a los animados ambientes de vida nocturna y cultura.
            </p>
            <p class="h5 text-center">
              Precio del boleto: {{precio}}
            </p>
        
          </div>

          <div class="tab-pane fade" id="mrd12" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Hoteles Recomendados</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside>         
          </div>

          <div class="tab-pane fade" id="mrd13" role="tabpanel">
            <br>
        
          
        
          </div>

          <div class="tab-pane fade" id="mrd14" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Los mas proximos son:</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Alguna fecha en la base de datos
                 <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside> 
       
          </div>

        </div>
      
      </div>

      
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
        <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
      </div>
    </div>
    
  </div>
        </div>

        <div class="modal fade" id="caracasModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <img src="../../assets/pics/Destinos/caracas.jpg" class="card-img-top" alt="Caracas">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      
      <div class="modal-body">
        
        <blockquote class="blockquote text-center">
          <h5 class="text-center">Caracas, Venezuela.
            
          </h5>
          <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
        </blockquote>
        <ul class="nav md-pills pills-secondary border-bottom">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#crc11" role="tab">Descripción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#crc12" role="tab">Hoteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#crc13" role="tab">Gastronomía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#crc14" role="tab">Vuelos</a>
          </li>
        </ul>
        
        <div class="tab-content pt-0">
        
          <div class="tab-pane fade in show active" id="crc11" role="tabpanel">
            <br>
        
            <p class="text-justify">Caracas, la capital de Venezuela, es un centro comercial y cultural ubicado en un valle
              montañoso del norte. El líder de la independencia Simón Bolívar está enterrado en el Panteón
              Nacional de Venezuela, establecido en el siglo XIX en el casco antiguo de la ciudad. La Catedral
              de Caracas, un lugar emblemático de la arquitectura romanesca, data del siglo XVII. Las torres
              gemelas de 225 de altura en el Parque Central son el símbolo del perfil de la ciudad.
            </p>
            <p class="h5 text-center">
              Precio del boleto: {{precio}}
            </p>
        
          </div>

          <div class="tab-pane fade" id="crc12" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Hoteles Recomendados</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside>           
          </div>

          <div class="tab-pane fade" id="crc13" role="tabpanel">
            <br>
        
          
        
          </div>

          <div class="tab-pane fade" id="crc14" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Los mas proximos son:</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Alguna fecha en la base de datos
                 <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside> 
       
          </div>

        </div>
      
      </div>

      
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
        <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
      </div>
    </div>
    
  </div>
        </div>

    </div>

</div>

  <nav aria-label="Page navigation example" style="display:table; margin:auto;">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" (click)="pageactual()">1</a></li>
    <li class="page-item"><a class="page-link" [routerLink]="['/Comprapage2']">2</a></li>
    <li class="page-item"><a class="page-link" [routerLink]="['/Comprapage3']">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next" [routerLink]="['/Comprapage2']">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  </nav>

</div>
<app-footer></app-footer>