    h1 {
        color: #369;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 250%;
    }

    h5 {
        color: #369;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 200%;
    }
    h2, h3, p {
        color: #444;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
    }
    .title{
        text-align: center;
        margin-top: 1em;
    }
    #float{
        float: left;
        margin-top: 1em;
    }
    form{
        margin: 2em;
    }
    form label{
        margin: 0.5em;
    }
    .margin{
        margin: 0.5em;
    }
    #cerrar:hover{
        color: #fff;
    }
    .btn-circle.btn-md{
        width: 5em;
        height: 5em;
        padding: 7px 10px;
        border-radius: 25px;
        font-size: 10px;
        text-align: center;
        color: #fff;
        background-color: #007bff;
    }
    .btn-circle.btn-md:hover{
        background-color: #00aeff;
    }
    body {
    margin: 2em;
    }
    body, input[type="text"], button {
    color: #888;
    font-family: Cambria, Georgia;
    }
    * {
    font-family: Arial, Helvetica, sans-serif;
    }

    #c1{
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }

    #c1:hover{
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6) !important;
    }
    #cerrar:hover{
        color: #fff;
    }
    #li1{
        background-color: #eee;
    }
    #li1:hover{
        background-color: #fff;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6) !important;

    }
    