<header class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded" style="margin:0 auto;">
      <a class="navbar-brand"  id="brand" [routerLink]="['/']" >{{title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" id="link" [routerLink]="['/']" >Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="font-size: 0.7em;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vuelos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" id="link" [routerLink]="['/agenda-de-vuelos']" >Agenda de Vuelos</a>
          <a class="dropdown-item" id="link" [routerLink]="['/compra-de-vuelos']" >Compra de Vuelos</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" [routerLink]="['/ubicacion_de_agencias']" >Ubicacion de Agencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" [routerLink]="['/contactanos']" >Contactanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" [routerLink]="['/sobre_nosotros']" >Sobre Nosotros</a>
        </li>
        
        </ul>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" id="circle" type="submit">

            <img src="../../assets/pngs/search-13-24.png" width="" alt="Lupa">

          </button>
        
        </form>
        <div class="user">
          <div class="container">
            <li style="list-style: none;" class="dropdown">
              <a class="dropdown-toggle" style="font-size: 1em;text-decoration: none;color:#FFF;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="../assets/pngs/user-24.png" alt="">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" id="link" data-toggle="modal" data-target="#userAccessModalInfo">Acceder</a> 

              <a class="dropdown-item" id="link" [routerLink]="['/']" >Perfil</a>
              <a class="dropdown-item" id="link" [routerLink]="['/']" >Reservaciones</a>
              <a class="dropdown-item" id="link" [routerLink]="['/Boletos']" >Carro</a>
              <a class="dropdown-item" id="link" [routerLink]="['/']" >Cartera</a>
              <a class="dropdown-item" id="link" [routerLink]="['/']" >Configuracion</a>
              <a class="dropdown-item" id="link" [routerLink]="['/']" >Cerrar Session</a>
              </div>
            </li>
          </div>
        </div>
      </div>
      </nav>
  </header>

  <div id="modalUser">
    <div class="modal fade" id="userAccessModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content rounded shadow">
        
        <div class="modal-body">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 90%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
          
          <form class="border border-light p-5 shadow">
  
            <p class="h4 mb-4 text-center border-bottom" id="h4" >Acceder a Cuenta</p>
        
            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Correo">
        
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Contraseña">
        
            <div class="d-flex justify-content-between">
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Recordar usuario</label>
                    </div>
                </div>
                <div>
                    <a href="">¿Olvidaste la contraseña?</a>
                </div>
            </div>
        
            <button class="btn btn-block my-4 shadow" id="btn1" [routerLink]="['/']" type="submit">Acceder</button>
        
            <div class="text-center">
                <p>¿No eres un Miembro?   
                    <a [routerLink]="['/userlogin']">Registrar</a>
                </p>
        
                <p>O accede con:</p>
                <div class="">
                    <a type="button" class="light-blue-text mx-2">
                        <img src="../assets/pngs/facebook.png" width="24px" alt="facebook">
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <img src="../assets/pngs/buscar.png" width="24px" alt="google-plus">
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <img src="../assets/pngs/instagram.png" width="24px" alt="instagram">
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <img src="../assets/pngs/twitter.png" width="24px" alt="twitter">
                    </a>
                </div>
            </div>
          </form>
        
        </div>

      </div>
      
    </div>
    </div>
  </div>