#brand{
    font-size: 250%;
}
#link{
    font-size: 0.7em;
}
.user{
    width: 6%;
    vertical-align: middle;
}
.circle{
    width: 5em;
        height: 5em;
        padding: 7px 10px;
        border-radius: 25px;
        font-size: 10px;
        text-align: center;
        color: #fff;
}
#h4{
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
#btn1{
color: #fff;
background-color: #007bff;
}
#btn:hover{
background-color: #00aeff;
}