<div class="container bg-white rounded shadow">

    <!-- Page Heading -->
    <h2 class="my-4 border-bottom">Ultimos Articulos
    </h2>

    <!-- Project One -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/pics/turiiiii.jpg" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3 class="text-center">Cambios que están transformado el turismo</h3>
        <p class="text-justify" >Análisis de los principales cambios que están transformando el Turismo en el siglo XXI: cambios demográficos, sociales y económicos, nuevas motivaciones para viajar o cambios en las necesidades y hábitos de consumo de los turistas.</p>
        <a class="btn btn-primary shadow" href="#">Ver Articulo</a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/pics/image.jpg" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3 class="text-center">Tecnologías que están transformado el turismo</h3>
        <p class="text-justify" >Análisis de los principales avances tecnológicos que van a transformar el turismo: el Internet de las Cosas, el 5G, el Big Data, el Blockchain (y el bitcoin), los Asistentes Virtuales, la Inteligencia Artificial, la Realidad Virtual y la 4ª Revolución Industrial (Automatización y Robotización).
        </p>
        <a class="btn btn-primary shadow" href="#">Ver Articulo</a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/pics/turismo23.jpg" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3 class="text-center">Los destinos turísticos se enfrentan a múltiples cambios y retos</h3>
        <p class="text-justify" >Retos generados por factores demográficos, económicos, tecnológicos, ambientales y de hábitos de consumo. Uno de los más prioritarios es cómo gestionar la masificación turística en algunos destinos urbanos que está afectando a la calidad de vida de los ciudadanos locales y a la experiencia de los turistas en el destino.
        </p>
        <a class="btn btn-primary shadow" href="#">Ver Articulo</a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Four -->
    <div class="row">

      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3 class="text-center">Articulo</h3>
        <p class="text-justify" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
        <a class="btn btn-primary shadow" href="#">Ver Articulo</a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

  </div>
  <app-footer></app-footer>