#map {
    height: 400px;  
    width: 100%;  
   }
   h2{
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 265%;
    text-align: center; 
    margin-top: 1em;
}
h3{
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 230%;
    text-align: center; 
    margin-top: 1em;
}
#bot{
    margin-bottom: 1em;
}
#bot:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6) !important;
}
#subtittle{
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
    margin-top: 1em;
    margin-left: 1em;
}
ul{
    display: table;
}