<div class="container rounded shadow bg-white" id="bot">

    <h2 class="border-bottom">Mapa de nuestras agencias en Caracas</h2>

    <div id="map"></div>
    <hr>

    <div class="container rounded shadow" id="bot">
        <h3>
            Encuentranos en las siguientes ubicaciones
        </h3>
        <p id="subtittle">Agencia de (ubicacion)</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores consequuntur labore eligendi reiciendis ut. Corporis sed voluptas cum velit mollitia! Impedit quaerat illum magnam inventore voluptas optio repellendus praesentium expedita.</p>
                <ul style="list-style: none;"  class="list-group" id="vertical">
                    <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            <img src="../../assets/pngs/" alt=""> Oficina: 0000-0000-000
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            <img src="../../assets/pngs/" alt=""> Whatsapp: 0000-0000-000                        
                    </li>      
                </ul>

        <p id="subtittle">Agencia de (ubicacion)</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores consequuntur labore eligendi reiciendis ut. Corporis sed voluptas cum velit mollitia! Impedit quaerat illum magnam inventore voluptas optio repellendus praesentium expedita.</p>
            <ul style="list-style: none;"  class="list-group" id="vertical">
                <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            <img src="../../assets/pngs/" alt=""> Oficina: 0000-0000-000
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            <img src="../../assets/pngs/" alt=""> Whatsapp: 0000-0000-000                        
                </li>                       
            </ul>

        <p id="subtittle">Agencia de (ubicacion)</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores consequuntur labore eligendi reiciendis ut. Corporis sed voluptas cum velit mollitia! Impedit quaerat illum magnam inventore voluptas optio repellendus praesentium expedita.</p>
            <ul style="list-style: none;"  class="list-group" id="vertical">
                <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            <img src="../../assets/pngs/" alt=""> Oficina: 0000-0000-000
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            <img src="../../assets/pngs/" alt=""> Whatsapp: 0000-0000-000                        
                </li>                       
            </ul>

        <p id="subtittle">Agencia de (ubicacion)</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores consequuntur labore eligendi reiciendis ut. Corporis sed voluptas cum velit mollitia! Impedit quaerat illum magnam inventore voluptas optio repellendus praesentium expedita.</p>
            <ul style="list-style: none;"  class="list-group" id="vertical">
                <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            <img src="../../assets/pngs/" alt=""> Oficina: 0000-0000-000
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            <img src="../../assets/pngs/" alt=""> Whatsapp: 0000-0000-000                        
                </li>           
            </ul>
            <br>

    </div>


</div>

<script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      var caracas = {lat: -25.344, lng: 131.036};
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 4, center: caracas});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: caracas, map: map});
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKaYxkjdKAXloHmvCX7O5mkB8puOx4sGQ&callback=initMap">
</script>


<app-footer></app-footer>
