<div class="container shadow p-3 mb-5 rounded" id="fc" style="background: white;width: 50%;margin: 20px auto;">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post" style="padding: 20px;">
                        <legend class="h1-responsive font-weight-bold text-center my-4 border-bottom" id="h1">
                          Contactanos</legend>
                          <p class="text-center w-responsive mx-auto mb-5">¿Tienes alguna pregunta? Por favor no desesperes,
                             contactanos directamente. Nuestro equipo te respondera entre un par de horas
                             para ayudarte.</p>

                             <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-12">
                                    <label for="fname">Nombre</label>
                                    <input id="fname" name="name" type="text" maxlength="15" placeholder="Introduzca su nombre" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-12">
                                    <label for="lname">Apellido</label>
                                    <input id="lname" name="name" type="text" maxlength="15" placeholder="Introduzca su Apellido" class="form-control">
                                </div>
                            </div>  
        
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                <div class="col-md-12">
                                    <label for="phone">Telefono</label>
                                    <input id="phone" name="phone" type="number" pattern="[0-9]{4}-[0-9]{4}-[0-9]{3}" placeholder="Introduzca su telefono" class="form-control">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                  <label for="inputEmail4">Correo</label>
                                  <input type="email" class="form-control" id="inputEmail4" placeholder="www.example@gh.com">
                                </div>
                                <div class="form-group col-md-6">
                                <label for="inputAddress">Direccion</label>
                                <input type="text" class="form-control" id="inputAddress" maxlength="40" placeholder="1234 los flores St">
                                </div>
                                <div class="form-group col-md-6">
                                <label for="inputAddress2">Direccion 2</label>
                                <input type="text" class="form-control" id="inputAddress2" maxlength="40" placeholder="gato negro catia">
                                </div>
                                <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputCity">Ciudad</label>
                                  <input type="text" class="form-control" maxlength="20" id="inputCity">
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputState">Estado</label>
                                  <select id="inputState" class="form-control">
                                    <option selected>Elija...</option>
                                    <option>Miranda</option>
                                    <option>Apure</option>
                                    <option>Trujillo</option>
                                    <option>Cojedes</option>
                                    <option>Bolivar</option>
                                    <option>Distrito Capital</option>
                                  </select>
                                </div>
                                <div class="form-group col-md-12">
                                  <label for="inputZip">Codigo Postal de Area</label>
                                  <input type="number" class="form-control" maxlength="10" id="inputZip">
                                </div>
                                </div>

                                <div class="text-center" style="margin: 0 auto;">
                            <button type="submit" class="btn btn-primary shadow" style="width: 220px;"> 
                            
                              <a onclick="document.getElementById('contactform').submit();">Enviar</a>

                            </button>
                                </div>
                            </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>