<div class="shadow p-3 mb-5 bg-white rounded" style="margin-top: 2em;">

    <h1 class="title" class="border-bottom text-center" > Destinos Turísticos</h1>
  
      <form class="form-inline md-form mr-auto mb-4" style="margin-left: 17%;">
  
        <div class="form-group">
          <label for="inputpais">País</label>
          <select id="inputpais" class="form-control">
            <option selected>Elija...</option> 
          </select>
        </div>
        <div class="form-group">
          <label for="inputCiudad">Ciudad</label>
          <select id="inputCiudad" class="form-control">
            <option selected>Elija...</option>
          </select>
        </div>
        <div class="margin">
          <input class="form-control mr-sm-2" type="text" placeholder="Buscar Destino" aria-label="Search">
          <button class="btn btn-outline-primary btn-rounded btn-sm my-0" type="submit">
            <img src="../../assets/pngs/search-13-24-1.png" width="20px" alt="Lupa">
          </button>
        </div>
      </form>
  
  <div class="shadow p-3 mb-5 bg-white rounded" style="float: left;padding: 2em;border: 1px solid #dee2e6;">
    
      <div class="cards">         
          <div class="col-md-3" id="float">
    <div class="card" id="c1">        
      <img src="../../assets/pics/Destinos/denver.jpg" class="card-img-top" height="100em" alt="Denver">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title border-bottom">Denver</h5>
        <p class="card-text">				
        </p>
        <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#DenverModalInfo">
          <img src="../../assets/pngs/aeroplano.png" width="30">
       </button>
      </div>
    </div>
          </div>
          <div class="col-md-3" id="float">
      <div class="card" id="c1">          
        <img src="../../assets/pics/Destinos/moscú.jpg" class="card-img-top" height="100em" alt="Moscú">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title border-bottom">Moscú</h5>
          <p class="card-text">				
          </p>
          <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#MoscúModalInfo">
            <img src="../../assets/pngs/aeroplano.png" width="30">
          </button>
        </div>
      </div>
          </div>
          <div class="col-md-3" id="float">
  <div class="card" id="c1">    
    <img src="../../assets/pics/Destinos/oslo.jpg" class="card-img-top" height="100em" alt="Oslo">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title border-bottom">Oslo</h5>
      <p class="card-text">				
      </p>
      <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#OsloModalInfo">
        <img src="../../assets/pngs/aeroplano.png" width="30">
     </button>
    </div>
  </div>
          </div>
          <div class="col-md-3" id="float">
  <div class="card" id="c1">    
    <img src="../../assets/pics/Destinos/Praga.jpg" class="card-img-top" height="100em" alt="Praga">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title border-bottom">Praga</h5>
      <p class="card-text">				
      </p>
      <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#PragaModalInfo">
        <img src="../../assets/pngs/aeroplano.png" width="30">
     </button>
    </div>
  </div>
          </div>
          <div class="col-md-3" id="float">
  <div class="card" id="c1">    
    <img src="../../assets/pics/Destinos/acapulco.jpg" class="card-img-top" height="100em" alt="Acapulco">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title border-bottom">Acapulco</h5>
      <p class="card-text">				
      </p>
      <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#AcapulcoModalInfo">
        <img src="../../assets/pngs/aeroplano.png" width="30">
     </button>
    </div>
  </div>
          </div>
          <div class="col-md-3" id="float">
  <div class="card" id="c1">    
    <img src="../../assets/pics/Destinos/cancun.jpg" class="card-img-top" height="100em" alt="Cancún">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title border-bottom">Cancún</h5>
      <p class="card-text">				
      </p>
      <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#CancúnModalInfo">
        <img src="../../assets/pngs/aeroplano.png" width="30">
     </button>
    </div>
  </div>
          </div>
          <div class="col-md-3" id="float">
  <div class="card" id="c1">    
    <img src="../../assets/pics/Destinos/viena.jpg" class="card-img-top" height="100em" alt="Viena">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title border-bottom">Viena</h5>
      <p class="card-text">			
      </p>
      <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#VienaModalInfo">
        <img src="../../assets/pngs/aeroplano.png" width="30">
     </button>
    </div>
  </div>
          </div>
          <div class="col-md-3" id="float">
  <div class="card" id="c1">    
    <img src="../../assets/pics/Destinos/Múnich.jpg" class="card-img-top" height="100em" alt="Múnich">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title border-bottom">Múnich</h5>
      <p class="card-text">				
      </p>
      <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#MúnichModalInfo">
        <img src="../../assets/pngs/aeroplano.png" width="30">
     </button>
    </div>
  </div>
          </div>
          <div class="col-md-3" id="float">
  <div class="card" id="c1">    
    <img src="../../assets/pics/Destinos/reikiavik.jpg" class="card-img-top" height="100em" alt="Reikiavik">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title border-bottom">Reikiavik</h5>
      <p class="card-text">			
      </p>
      <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#ReikiavikModalInfo">
        <img src="../../assets/pngs/aeroplano.png" width="30">
     </button>
    </div>
  </div>
          </div>
          <div class="col-md-3" id="float">
  <div class="card" id="c1">    
    <img src="../../assets/pics/Destinos/helsinki.jpg" class="card-img-top" height="100em" alt="Helsinki">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title border-bottom">Helsinki</h5>
      <p class="card-text">				
      </p>
      <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#HelsinkiModalInfo">
        <img src="../../assets/pngs/aeroplano.png" width="30">
     </button>
    </div>
  </div>
          </div>
          <div class="col-md-3" id="float">
  <div class="card" id="c1">    
    <img src="../../assets/pics/Destinos/valencia.jpg" class="card-img-top" height="100em" alt="Valencia">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title border-bottom">Valencia</h5>
      <p class="card-text">
      </p>
      <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#ValenciaModalInfo">
        <img src="../../assets/pngs/aeroplano.png" width="30">
     </button>
    </div>
  </div>
          </div>
          <div class="col-md-3" id="float">
  <div class="card" id="c1">    
    <img src="../../assets/pics/Destinos/kiev.jpg" class="card-img-top" height="100em" alt="kiev">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title border-bottom">kiev</h5>
      <p class="card-text">				
      </p>
      <button type="button" class="shadow" class="btn-circle btn-md" data-toggle="modal" data-target="#kievModalInfo">
        <img src="../../assets/pngs/aeroplano.png" width="30">
     </button>
    </div>
  </div>
          </div>
      </div>
  
      <div name="modales">
  
          <div class="modal fade" id="DenverModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-notify modal-info" role="document">
                <div class="modal-content">
  
                  <div class="modal-header">
                    <img src="../../assets/pics/Destinos/denver.jpg" class="card-img-top" alt="Denver">
  
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
                        <span aria-hidden="true" class="white-text">&times;</span>
                      </button>
                  </div>
  
      
                  <div class="modal-body">
        
                  <blockquote class="blockquote text-center">
                    <h5 class="text-center">Denver, United States.</h5>
                    <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Debes probar nuestra pizza.</footer>
                  </blockquote>
        <ul class="nav md-pills pills-secondary border-bottom">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel11" role="tab">Descripción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel12" role="tab">Hoteles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel13" role="tab">Gastronomía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel14" role="tab">Vuelos</a>
          </li>
        </ul>
        
        <div class="tab-content pt-0">
        
          <div class="tab-pane fade in show active" id="panel11" role="tabpanel">
            <br>
        
            <p class="text-justify">Denver, la capital de Colorado, es una metrópolis estadounidense que data de la época del Viejo Oeste. La Plaza Larimer, la cuadra más antigua de la ciudad, tiene edificios icónicos del siglo XIX. Entre los museos se incluyen el Museo de Arte de Denver, un complejo ultramoderno conocido por su colección de obras indígenas, y la mansión de la famosa sobreviviente del Titanic, Molly Brown. Denver también es un punto de partida para visitar centros de esquí en las Montañas Rocosas cercanas.
            </p>
              <p class="h5 text-center">
                Precio del boleto: {{precio}}
              </p>
        
          </div>
  
          <div class="tab-pane fade" id="panel12" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Hoteles Recomendados</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Algun hotel
                 <span class="badge badge-info badge-pill">
                   <a class="text-white" href="#">Visitar su Website</a>
                 </span>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside>         
          </div>
  
          <div class="tab-pane fade" id="panel13" role="tabpanel">
            <br>
            <p class="text-justify">

            </p>     
        
          </div>
  
          <div class="tab-pane fade" id="panel14" role="tabpanel">
            <br>
              <aside class="shadow bg-white rounded" style="width: 100%;">
              <h4 style="text-align: center;">Los mas proximos son:</h4>
             <ul style="list-style: none;"  class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                 Alguna fecha en la base de datos
                 <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                Alguna fecha en la base de datos
                <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
               </li>
               <li style="text-align:center;margin-top: 10px;">
             </ul>
       
              </aside> 
  
          </div>
  
        </div>
      
      </div>
  
      
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-success" data-dismiss="modal" style="color: white;" (click)="alert()">Comprar Pasaje</a>
        <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
      </div>
    </div>
    
  </div>
          </div>
  
          <div class="modal fade" id="MoscúModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <img src="../../assets/pics/Destinos/moscú.jpg" class="card-img-top" alt="Moscú">
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              Moscú, Rusia.</h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Debes probar nuestra pizza.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#r11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#r12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#r13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#r14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="r11" role="tabpanel">
              <br>
          
              <p class="text-justify">Moscú se ubica en el río Moscova en Rusia occidental y es la capital cosmopolita de la nación. En su centro histórico, está el Kremlin, un complejo que alberga al presidente y tesoros de los zares en la Armería. Fuera de sus murallas, se encuentra la Plaza Roja, el centro simbólico de Rusia. Aquí se encuentra el Mausoleo de Lenin, la completa colección del Museo Histórico Estatal y la catedral de San Basilio, conocida por sus coloridas cúpulas con forma de cebolla.
              </p>
                <p class="h5 text-center">
                  Precio del boleto: {{precio}}
                </p>
          
            </div>
  
            <div class="tab-pane fade" id="r12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Hoteles Recomendados</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside>          
            </div>
  
            <div class="tab-pane fade" id="r13" role="tabpanel">
              <br>
              <p class="text-justify">

              </p>
          
            </div>
  
            <div class="tab-pane fade" id="r14" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
          
            </div>
  
          </div>
        
        </div>
  
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
          </div>
  
          <div class="modal fade" id="OsloModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <img src="../../assets/pics/Destinos/oslo.jpg" class="card-img-top" alt="Oslo">
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
  
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              Oslo, Noruega.</h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#l11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#l12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#l13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#l14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="l11" role="tabpanel">
              <br>
          
              <p class="text-justify">Oslo, la capital de Noruega, se ubica en la costa sur del país en la cabecera del Fiordo de Oslo. Es famosa por sus áreas verdes y museos. Muchos de estos se encuentran en la Península de Bygdøy, incluido el Museo Marítimo Noruego junto al mar y el Museo de barcos vikingos de Oslo, con embarcaciones vikingas del siglo IX. Holmenkollbakken es un cerro para el salto en esquí con vista panorámica del fiordo. También tiene un museo de esquí.
              </p>
                <p class="h5 text-center">
                  Precio del boleto: {{precio}}
                </p>
          
            </div>
  
            <div class="tab-pane fade" id="l12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Hoteles Recomendados</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside>           
            </div>
  
            <div class="tab-pane fade" id="l13" role="tabpanel">
              <br>
              <p class="text-justify">

              </p>
          
            </div>
  
            <div class="tab-pane fade" id="l14" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
              
            </div>
  
          </div>
        
        </div>
  
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
          </div>
  
          <div class="modal fade" id="PragaModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <img src="../../assets/pics/Destinos/Praga.jpg" class="card-img-top" alt="Praga">
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
  
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              Praga, República Checa.</h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#ny11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#ny12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#ny13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#ny14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="ny11" role="tabpanel">
              <br>
          
              <p class="text-justify">Praga, la capital de la República Checa, está dividida por el río Moldava. Recibe el apodo de la “Ciudad de las Cien Torres” y es conocida por la Plaza de la Ciudad Vieja, el núcleo de su centro histórico, con coloridos edificios barrocos, iglesias góticas y el Reloj Astronómico medieval, que muestra un espectáculo animado cada hora. El puente peatonal de Carlos se completó en 1402 y está bordeado de estatuas de santos católic
              </p>
              <p class="h5 text-center">
                Precio del boleto: {{precio}}
              </p>
          
            </div>
  
            <div class="tab-pane fade" id="ny12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Hoteles Recomendados</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside>           
            </div>
  
            <div class="tab-pane fade" id="ny13" role="tabpanel">
              <br>
              <p class="text-justify">

              </p>
          
            </div>
  
            <div class="tab-pane fade" id="ny14" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
         
            </div>
  
          </div>
        
        </div>
  
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
          </div>
  
          <div class="modal fade" id="AcapulcoModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <img src="../../assets/pics/Destinos/acapulco.jpg" class="card-img-top" alt="Acapulco">
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
  
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              Acapulco, México.</h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#s11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#s12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#s13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#s14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="s11" role="tabpanel">
              <br>
          
              <p class="text-justify">Acapulco, un balneario en la costa del Pacífico de México, se ubica en una gran bahía bordeado de edificios de muchos pisos y las montañas de la Sierra Madre del Sur. Se hizo famoso gracias al jet set en los años 1950 y 1960, y es conocido por su enérgica vida nocturna, las playas y el golf. Desde su icónico acantilado de La Quebrada, los clavadistas profesionales se lanzan desde 40 m para sumergirse en una pequeña caleta en el océano todos los días y noches.
              </p>
              <p class="h5 text-center">
                Precio del boleto: {{precio}}
              </p>
          
            </div>
  
            <div class="tab-pane fade" id="s12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Hoteles Recomendados</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside>          
            </div>
  
            <div class="tab-pane fade" id="s13" role="tabpanel">
              <br>
              <p class="text-justify">

              </p>            
          
            </div>
  
            <div class="tab-pane fade" id="s14" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
  
            </div>
  
          </div>
        
        </div>
  
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
          </div>
  
          <div class="modal fade" id="CancúnModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <img src="../../assets/pics/Destinos/cancun.jpg" class="card-img-top" alt="Cancún">
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
  
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              Cancún, México.</h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#m11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#m12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#m13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#m14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="m11" role="tabpanel">
              <br>
          
              <p class="text-justify">Cancún es una ciudad de México ubicada en la península de Yucatán que limita con el mar Caribe y que es conocida por sus playas, los numerosos centros turísticos y la vida nocturna. Se compone de 2 áreas distintas: el área del centro más tradicional y la Zona Hotelera, la franja costera con hoteles altos, clubes nocturnos, tiendas y restaurantes. Cancún también es un destino popular entre estudiantes durante el período de vacaciones universitarias en la primavera.
              </p>
              <p class="h5 text-center">
                Precio del boleto: {{precio}}
              </p>
          
            </div>
  
            <div class="tab-pane fade" id="m12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Hoteles Recomendados</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside>           
            </div>
  
            <div class="tab-pane fade" id="m13" role="tabpanel">
              <br>
              <p class="text-justify">

              </p>            
          
            </div>
  
            <div class="tab-pane fade" id="m14" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
          
            </div>
  
          </div>
        
        </div>
  
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
          </div>
  
          <div class="modal fade" id="VienaModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <img src="../../assets/pics/Destinos/viena.jpg" class="card-img-top" alt="Viena">
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
  
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              Viena, Austria.</h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#mll11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#mll12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#mll13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#mll14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="mll11" role="tabpanel">
              <br>
          
              <p class="text-justify">Viena, la capital de Austria, se encuentra en la zona este del país en el río Danubio. Su legado artístico e intelectual se formó gracias a sus residentes, incluidos Mozart, Beethoven y Sigmund Freud. La ciudad también es conocida por sus palacios imperiales, incluido el Schönbrunn, la residencia de verano de los Habsburgo. En el distrito Museumsquartier, los edificios históricos y contemporáneos exhiben obras de Egon Schiele, Gustav Klimt y otros artistas.
              </p>
              <p class="h5 text-center">
                Precio del boleto: {{precio}}
              </p>
          
            </div>
  
            <div class="tab-pane fade" id="mll12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Hoteles Recomendados</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside>          
            </div>
  
            <div class="tab-pane fade" id="mll13" role="tabpanel">
              <br>
              <p class="text-justify">

              </p>            
          
            </div>
  
            <div class="tab-pane fade" id="mll14" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
         
            </div>
  
          </div>
        
        </div>
  
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
          </div>
  
          <div class="modal fade" id="MúnichModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <img src="../../assets/pics/Destinos/Múnich.jpg" class="card-img-top" alt="Múnich">
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
  
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              Múnich, Baviera.
            </h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#t11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#t12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#t13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#t14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="t11" role="tabpanel">
              <br>
          
              <p class="text-justify">Múnich, la capital de Baviera, tiene edificios con siglos de antigüedad y varios museos. La ciudad es conocida por su celebración anual del Oktoberfest y sus cervecerías, incluida la famosa Hofbräuhaus, fundada en 1589. En la Altstadt (Ciudad Vieja), la plaza central Marienplatz tiene monumentos, como el neogótico Neues Rathaus (ayuntamiento), con un espectáculo popular de xilófonos que recrea historias del siglo XVI.
              </p>
              <p class="h5 text-center">
                Precio del boleto: {{precio}}
              </p>
          
            </div>
  
            <div class="tab-pane fade" id="t12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Hoteles Recomendados</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside>           
            </div>
  
            <div class="tab-pane fade" id="t13" role="tabpanel">
              <br>
              <p class="text-justify">

              </p>            
          
            </div>
  
            <div class="tab-pane fade" id="t14" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
          
            </div>
  
          </div>
        
        </div>
  
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
          </div>
  
          <div class="modal fade" id="ReikiavikModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <img src="../../assets/pics/Destinos/reikiavik.jpg" class="card-img-top" alt="Reikiavik">
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
  
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              Reikiavik, Islandia.
            </h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#b11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#b12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#b13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#b14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="b11" role="tabpanel">
              <br>
          
              <p class="text-justify">Reikiavik, en la costa de Islandia, es la capital del país y su ciudad más grande. Cuenta con el Museo Nacional y el Museo de Saga, que recorren la historia vikinga de Islandia. La impresionante iglesia de concreto Hallgrimskirkja y el domo de vidrio giratorio Perlan ofrecen vistas panorámicas del mar y las colinas circundantes. Un ejemplo de la actividad volcánica de la isla es el balneario geotermal de la laguna Azul, cerca de la villa de Grindavik.
              </p>
              <p class="h5 text-center">
                Precio del boleto: {{precio}}
              </p>
          
            </div>
  
            <div class="tab-pane fade" id="b12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Hoteles Recomendados</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside>          
            </div>
  
            <div class="tab-pane fade" id="b13" role="tabpanel">
              <br>
              <p class="text-justify">

              </p>            
          
            </div>
  
            <div class="tab-pane fade" id="b14" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
         
            </div>
  
          </div>
        
        </div>
  
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
          </div>
  
          <div class="modal fade" id="HelsinkiModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <img src="../../assets/pics/Destinos/helsinki.jpg" class="card-img-top" alt="Helsinki">
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
  
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              Helsinki, Finlandia.
            </h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#wa11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#wa12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#wa13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#wa14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="wa11" role="tabpanel">
              <br>
          
              <p class="text-justify">Helsinki, la capital de Finlandia en el sur del país, se ubica en una península del golfo de Finlandia. Su avenida central, Mannerheimintie, está bordeada de instituciones como el Museo Nacional, que recorre la historia de Finlandia desde la Edad de Piedra hasta la actualidad. También en Mannerheimintie se encuentra la imponente Casa del Parlamento y el museo de arte contemporáneo Kiasma. La adornada catedral de ladrillos rojos de Uspenski tiene vista al puerto.
              </p>
              <p class="h5 text-center">
                Precio del boleto: {{precio}}
              </p>
          
            </div>
  
            <div class="tab-pane fade" id="wa12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Hoteles Recomendados</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside>        
            </div>
  
            <div class="tab-pane fade" id="wa13" role="tabpanel">
              <br>
              <p class="text-justify">

              </p>
          
            </div>
  
            <div class="tab-pane fade" id="wa14" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
          
            </div>
  
          </div>
        
        </div>
  
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
          </div>
  
          <div class="modal fade" id="ValenciaModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <img src="../../assets/pics/Destinos/valencia.jpg" class="card-img-top" alt="Valencia">
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
  
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              Valencia, España.
            </h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#mrd11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#mrd12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#mrd13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#mrd14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="mrd11" role="tabpanel">
              <br>
          
              <p class="text-justify">La ciudad portuaria de Valencia se ubica en la costa sureste de España, donde el río Turia se une al mar Mediterráneo. Es famosa por la Ciudad de las Artes y las Ciencias, con estructuras futurísticas, como el planetario, el oceanario y un museo interactivo. Valencia también tiene varias playas, incluidas algunas dentro del cercano Parque de la Albufera, una reserva de humedales con un lago y senderos.
              </p>
              <p class="h5 text-center">
                Precio del boleto: {{precio}}
              </p>
          
            </div>
  
            <div class="tab-pane fade" id="mrd12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Hoteles Recomendados</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside>         
            </div>
  
            <div class="tab-pane fade" id="mrd13" role="tabpanel">
              <br>
              <p class="text-justify">

              </p>            
          
            </div>
  
            <div class="tab-pane fade" id="mrd14" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
         
            </div>
  
          </div>
        
        </div>
  
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
          </div>
  
          <div class="modal fade" id="kievModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <img src="../../assets/pics/Destinos/kiev.jpg" class="card-img-top" alt="kiev">
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;margin-left: 86.5%;">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
  
        
        <div class="modal-body">
          
          <blockquote class="blockquote text-center">
            <h5 class="text-center">
              kiev, Ucrania.
            </h5>
            <footer class="blockquote-footer mb-3" style="margin-left: 36%;">Firme y feliz por la unión.</footer>
          </blockquote>
          <ul class="nav md-pills pills-secondary border-bottom">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#crc11" role="tab">Descripción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#crc12" role="tab">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#crc13" role="tab">Gastronomía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#crc14" role="tab">Vuelos</a>
            </li>
          </ul>
          
          <div class="tab-content pt-0">
          
            <div class="tab-pane fade in show active" id="crc11" role="tabpanel">
              <br>
          
              <p class="text-justify">Es la capital de Ucrania, dividida por el río Dniéper y conocida por su arquitectura religiosa, los monumentos seculares y los museos de historia. El Monasterio de las Cuevas de Kiev data del siglo XI y es un sitio de peregrinación que abarca varias iglesias con cúpulas doradas. Es conocido por sus catacumbas rodeadas de cámaras fúnebres de monjes ortodoxos y una colección de objetos de oro de antiguas épocas escitas.
              </p>
              <p class="h5 text-center">
                Precio del boleto: {{precio}}
              </p>
          
            </div>
  
            <div class="tab-pane fade" id="crc12" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Hoteles Recomendados</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Algun hotel
                   <span class="badge badge-info badge-pill">
                     <a class="text-white" href="#">Visitar su Website</a>
                   </span>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside>           
            </div>
  
            <div class="tab-pane fade" id="crc13" role="tabpanel">
              <br>
              <p class="text-justify">

              </p>            
          
            </div>
  
            <div class="tab-pane fade" id="crc14" role="tabpanel">
              <br>
                <aside class="shadow bg-white rounded" style="width: 100%;">
                <h4 style="text-align: center;">Los mas proximos son:</h4>
               <ul style="list-style: none;"  class="list-group">
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                   Alguna fecha en la base de datos
                   <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                  Alguna fecha en la base de datos
                  <button class="btn btn-outline-success" (click)="alert2()" >Comprar</button>
                 </li>
                 <li style="text-align:center;margin-top: 10px;">
               </ul>
         
                </aside> 
         
            </div>
  
          </div>
        
        </div>
  
        
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-success" data-dismiss="modal"  style="color: white;" (click)="alert()">Comprar Pasaje</a>
          <a type="button" class="btn btn-outline-danger" id="cerrar" data-dismiss="modal">Cerrar Ventana</a>
        </div>
      </div>
      
    </div>
          </div>
  
      </div>
  
  </div>
  
    <nav aria-label="Page navigation example" style="display:table; margin:auto;">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" [routerLink]="['/compra-de-vuelos']" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" [routerLink]="['/compra-de-vuelos']">1</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/Comprapage2']">2</a></li>
      <li class="page-item"><a class="page-link" (click)="pageactual()" >3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
    </nav>
  
  </div>
<app-footer>
  
</app-footer>