<div class="col-md-12">

    <div class="container rounded shadow" id="space">
        <h2 class="text-center border-bottom">
            Carro de compras
            <sup><img src="../assets/pngs/carro.png" alt="carro" width="20px"></sup>
        </h2>
        <p class="text-center">
            Aqui puedes visualizar tus boletos agragados para realizar compras y reservas
        </p>
        <div class="container shadow" id="expand">
            <div class="col-md-12">
               
                <div class="col-md-7 display-block float-right">
                    <h4 class="text-center border-bottom"> Detalles </h4>

                    <ul style="list-style: none;"  class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" id="li2">
                            <p class="h5 text-center" id="valor"> Precio: valor </p>
                            <div class="form-group">
                                <select id="inputcat" class="form-control" id="select">
                                    <option selected>Elija...</option> 
                                    <option value="economico">Economico</option>
                                    <option value="regular">Regular</option>
                                    <option value="primera clase">Primera Clase</option>
                                    <option value="premiun">Premiun</option>
                                </select>
                            </div> 
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" id="li2">
                            <p class="h5 text-center" id="valor"> Servicio a bordo: </p> 
                            <form action="">
                                    <input type="radio" value="s">
                                    <label for="service">Si</label>
                                    <input type="radio" value="n">
                                    <label for="service">No</label>
                            </form>                      
                            
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" id="li2">
                            <p class="h5 text-center" id="valor">Fecha: valor dado en la modal </p>
                         
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" id="li2">
                            <p class="h5 text-center" id="valor">Destino: valor dado por la modal </p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" id="li2">
                            <p class="h5 text-left" id="valor">Escalas: depende, se define segun la distancia </p>
                        </li>
                     </ul>    

                     <p class="h5 text-center border-bottom" id="total">Precio total a pagar: valor</p>
                     
                    <a type="button" class="btn btn-success" id="reserva">Comprar</a>
                    <a type="button" class="btn btn-info" id="reserva">Reservar</a>
                    <a type="button" class="btn btn-outline-danger" id="reserva2">Descartar Boleto</a>

                    

                </div>
                <div class="col-md-5">
                <div class="shadow border-right">
                    <ul style="list-style: none;"  class="list-group" id="vertical">
                        <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            boleto#1
                          <button class="btn btn-outline-info" >Detalles</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            boleto#2                        
                            <button class="btn btn-outline-info" >Detalles</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            boleto#3
                         <button class="btn btn-outline-info" >Detalles</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            boleto#4
                         <button class="btn btn-outline-info" >Detalles</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            boleto#5
                         <button class="btn btn-outline-info" >Detalles</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                            boleto#6
                         <button class="btn btn-outline-info" >Detalles</button>
                        </li>
                     </ul>
                </div>          
                </div>
            </div>
        
        </div>
    </div>
    

</div>
<app-footer>

</app-footer>