h2 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    }
#space{
    margin: 2em auto;

}

#expand{
    height: 32em;
}
h4{
    color: #369;
    font-size: 200%;
}
select{
    width: 100px;
}
#valor{
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
#li1{
    background-color: #eee;
}
#li1:hover{
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6) !important;
}
#li2{
    vertical-align: middle;
}
.form-group{
    margin-bottom:0 !important;
}
#reserva{
    margin: 1em 1em;
    color: #fff;
}
#reserva2{
    margin: 1em 1em;
    color: #000;
}
#reserva2:hover{
    color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4) !important;

}
#reserva:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4) !important;
}
#total{
    margin-top: 1em;
}