/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }