<airlines>

</airlines>

<div class="bg-white rounded shadow">
<h4 class="border-bot">
  <a class="nav-link" id="link" [routerLink]="['/news']">
    Seccion de Noticias.
    <sup style="font-size: smaller;"><img src="../assets/pngs/link-24.png" alt="."></sup>

  </a>
</h4>

<p class="h6 text-center" id="news"> A tu disposición para obtener la informacion
   mas fiable para garantizar la mejor experiencia en tus viajes 
  </p>

<div class="container rounded shadow" id="alto">

  <div class="card shadow" id="card">
      <img src="../../assets/pics/ret.jpg" height="150em" class="card-img-top" alt="Roma">
      <div class="card-body text-center">
        <h5 class="card-title border-bottom">Cambios y Retos</h5>
        <p class="card-text">
        </p>
        <button type="button" class="shadow" class="btn btn-outline-info" [routerLink]="['/news']">
          Ver articulo
        </button>
      </div>
  </div>

  <div class="card shadow" id="card">
      <img src="../../assets/pics/image.jpg" height="150em" class="card-img-top" alt="Amsterdam">
      <div class="card-body text-center">
        <h5 class="card-title border-bottom">Tecnología y Turismo</h5>
        <p class="card-text">
        </p>
        <button type="button" class="shadow" class="btn btn-outline-info" [routerLink]="['/news']">
          Ver articulo
        </button>
      </div>
  </div>

  <div class="card shadow" id="card">
    <img src="../../assets/pics/turismo23.jpg" height="150em" class="card-img-top" alt="Amsterdam">
    <div class="card-body text-center">
      <h5 class="card-title border-bottom">Cambios al Turismo</h5>
      <p class="card-text">
      </p>
      <button type="button" class="shadow" class="btn btn-outline-info" [routerLink]="['/news']">
        Ver articulo
     </button>
    </div>
  </div>

</div>
</div>

<div class="bg-white rounded shadow">
  <app-cards>

  </app-cards>
</div>

  <nav aria-label="Page navigation example" style="display:table; margin:0 auto;">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" [routerLink]="['/']">1</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/homepage2']">2</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/homepage3']">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
<app-footer>
  
</app-footer>